---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import astro from "@/images/astro.svg";
import nextjs from "@/images/nextjs.svg";
import react from "@/images/react.svg";
import typescript from "@/images/typescript.svg";
import javascript from "@/images/javascript.svg";
import html from "@/images/html.svg";
import css from "@/images/css.svg";
import node from "@/images/node.svg";
import tailwind from "@/images/tailwind.svg";
import python from "@/images/python.svg";
import git from "@/images/git.svg";
import Theme from "@/components/Theme.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col">
    <h1 class="font-semibold text-2xl mb-4 tracking-tighter">hi!</h1>
    <p class="mb-8">
      i'm Renan, a frontend developer currently focusing on creating educational
      content for developers and building open-source applications. This is the
      technologies that you will probably see me writing about:
    </p>

    <div class="flex flex-wrap w-full items-center gap-2 mb-12">
      <Image
        src={react}
        alt="React"
        width={32}
        height={32}
        class="hover:scale-110"
      />
      <Image
        src={nextjs}
        alt="Next.js"
        width={32}
        height={32}
        class="hover:scale-110"
      />
      <Image
        src={astro}
        alt="Astro"
        width={32}
        height={32}
        class="hover:scale-110"
      />
      <Image
        src={typescript}
        alt="TypeScript"
        width={32}
        height={32}
        class="hover:scale-110"
      />
      <Image
        src={javascript}
        alt="JavaScript"
        width={32}
        height={32}
        class="hover:scale-110"
      />
      <Image
        src={tailwind}
        alt="Tailwind CSS"
        width={32}
        height={32}
        class="hover:scale-110"
      />
      <Image
        src={html}
        alt="HTML"
        width={32}
        height={32}
        class="hover:scale-110"
      />
      <Image
        src={css}
        alt="CSS"
        width={32}
        height={32}
        class="hover:scale-110"
      />
      <Image
        src={node}
        alt="Node.js"
        width={32}
        height={32}
        class="hover:scale-110"
      />
      <Image
        src={python}
        alt="Python"
        width={32}
        height={32}
        class="hover:scale-110"
      />
      <Image
        src={git}
        alt="Git"
        width={32}
        height={32}
        class="hover:scale-110"
      />
    </div>

    <p class="text-neutral-700 dark:text-neutral-200 mb-4">
      i'm always testing new libraries that i find interesting and publishing
      some code in my <acv
        href="https://github.com/renanleonel?tab=repositories"
        class="underline cursor-pointer">github repositories</acv
      >. you can check my <a
        href="https://cv-psi-eight.vercel.app/"
        class="underline cursor-pointer">cv</a
      > as well.
    </p>

    <!-- <Image
    src={}
    alt={}
  />
  <Image
  src={}
  alt={}
/>
<Image
src={}
alt={}
/>
<Image
src={}
alt={}
/> -->
  </main>
</Layout>
