---
import Image from "astro/components/Image.astro";

import cReact from "@/images/colored/react.svg";
import cNextjs from "@/images/colored/nextjs.svg";
import cAstro from "@/images/colored/astro.svg";
import cTypeScript from "@/images/colored/typescript.svg";
import cJavaScript from "@/images/colored/javascript.svg";
import cTailwind from "@/images/colored/tailwind.svg";
import cHTML from "@/images/colored/html.svg";
import cCSS from "@/images/colored/css.svg";
import cNode from "@/images/colored/node.svg";
import cPython from "@/images/colored/python.svg";
import cGit from "@/images/colored/git.svg";

import bwReact from "@/images/bw/react.svg";
import bwNextjs from "@/images/bw/nextjs.svg";
import bwAstro from "@/images/bw/astro.svg";
import bwTypeScript from "@/images/bw/typescript.svg";
import bwJavaScript from "@/images/bw/javascript.svg";
import bwTailwind from "@/images/bw/tailwind.svg";
import bwHTML from "@/images/bw/html.svg";
import bwCSS from "@/images/bw/css.svg";
import bwNode from "@/images/bw/node.svg";
import bwPython from "@/images/bw/python.svg";
import bwGit from "@/images/bw/git.svg";
---

<div class="dark:hidden flex flex-wrap w-full items-center gap-2">
  <Image
    src={cReact}
    alt="React"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={cNextjs}
    alt="Next.js"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={cAstro}
    alt="Astro"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={cTypeScript}
    alt="TypeScript"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={cJavaScript}
    alt="JavaScript"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={cTailwind}
    alt="Tailwind CSS"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={cHTML}
    alt="HTML"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image src={cCSS} alt="CSS" width={32} height={32} class="hover:scale-110" />
  <Image
    src={cNode}
    alt="Node.js"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={cPython}
    alt="Python"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image src={cGit} alt="Git" width={32} height={32} class="hover:scale-110" />
</div>

<div class="dark:flex hidden flex-wrap w-full items-center gap-2">
  <Image
    src={bwReact}
    alt="React"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={bwNextjs}
    alt="Next.js"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={bwAstro}
    alt="Astro"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={bwTypeScript}
    alt="TypeScript"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={bwJavaScript}
    alt="JavaScript"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={bwTailwind}
    alt="Tailwind CSS"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={bwHTML}
    alt="HTML"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image src={bwCSS} alt="CSS" width={32} height={32} class="hover:scale-110" />
  <Image
    src={bwNode}
    alt="Node.js"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image
    src={bwPython}
    alt="Python"
    width={32}
    height={32}
    class="hover:scale-110"
  />
  <Image src={bwGit} alt="Git" width={32} height={32} class="hover:scale-110" />
</div>
